@font-face{
  font-family: "Ubuntu";
  src: url("../assets/Ubuntu-Regular.ttf")
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*{margin: 0;}

:root {
  --animate-duration: 800ms;
  --animation-delay: 1.5s;
}
.container-fluid{
  width: 100%;
  float: none;
  background-color:#333170;
}

main{
  width: 100%;
}
.titulo.animate__animated.animate__slideInLeft{
  --animate-duration: 3s;
  color: white;
} 

.menu.animate__animated.animate__fadeInRight{
  --animate-duration: 2s;
  width: 100%;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-around;

}

.imagem-principal{
  display: flex;
  justify-content: space-around;
  text-align: center;
}


figcaption{
 position: absolute;
 top: 35%;
 font-size: 100px;
 color: white;
  
}

ul {
  top: 0;
  width: 100%;
  position: absolute; 
}



li a {
  text-decoration: solid;
  display: inline-block;
  color: #EEE;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  transition: all 0.3s;
  cursor: pointer;
    
}

li a:hover {
  text-decoration: none;
  color: white;
  -webkit-transform: scale(1.5);
  transform: scale(1.3);
  
}

img {
  height: 80%;
  width: 100%;
}



.primeira-parte-form{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.titulo{
  text-align: center;
  font-family: Ubuntu;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.titulo-principal{
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  font-family: Ubuntu;
  color: white;
}
.segunda-parte-form{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
}

.informacoes-contato-1{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-bottom: 150px;
  margin-top: 50px;
}
.informacoes-contato-2{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-bottom: 120px;
  margin-top: 30px;
}
.paragrafo{
  text-align: justify;
  margin-top: 20px;
  font-family: Ubuntu;
  font-size: 20px;
}

.imagem-perfil{
  margin-top: 0px;
  width: 30%;
  height: 50%;
  min-width: 300px;
}

.projetos{
  display: flex;
  flex-direction: row;
  margin-bottom: 130px;
}

.botao-enviar{
  width: 20%;
  display: flex;
  font-size: 1rem;
  background-color: #333170;
  border-radius: 5%;
  color: white;
  align-content: center;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
  }

.footer{
  background-color:#503d7b;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.img-github-footer{
  width: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
}


.copyright-footer{
  background-color: #333170 ;
}

.p-footer{
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

body{
  background-color: #EEE !important;
}

