.img-background-main{
  width: 100%;
  height: 50%;

}
.footer {
background-color:#00838f;
}

.img-github-footer{
width: 50%;
height: 50%;
}

.github-footer{
margin:auto auto;
display:table;
padding-top: 10px;
padding-bottom:10px ;
}

.copyright-footer{
background-color: #006973 ;
}

.p-footer{
  color: white;
  text-align: center;
}



